.product-container {
    display: flex;
    gap: 40px;
    
    justify-content: center;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

.thumbnails {
    display: flex;
    gap: 10px;
}

.thumbnails img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.2s;
}

.thumbnails img:hover {
    border-color: #FF6F10;
}

.product-details {
    max-width: 400px;
    text-align: center;
}

.product-details h2 {
    margin: 0;
    font-size: 24px;
    
}

.product-details p {
    font-size: 14px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.stock{
    color: #6200ea;
    text-align: start;
    margin-left: 40px;
}

.quantity-wrapper {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: fit-content;
  position: absolute;
  margin-left: 40px;
  
}

.quantity-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: default; 
  user-select: none;
}

.quantity-input {
  width: 40px;
  text-align: center;
  border: none;
  font-size: 16px;
  padding: 8px;
  outline: none;
}


.btn {
    background-color: #FF6F10;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 140px;
}

