<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Agua Patos</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/detalles.css" />
    <link rel="shortcut icon" href="/Imágenes/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a class="logo" href="index.html">
        <img class="navlogo" src="/Imágenes/Logo.png" alt="logo_al_agua_patos" />
      </a>

      <div class="nav-right">
        <a href="/views/productos.html" class="products">Productos</a>
        <a href="/views/contacto.html" class="contact">Contacto</a>
        <img src="/Imágenes/Line 24.png" class="line" alt="línea de separación" />
        <a class="shoppingCart">
          <img src="/Imágenes/Carrito.png" alt="carrito_de_compras" />
        </a>
      </div>
    </nav>

    <main class="main-content">
        <section class="product-section">
            <div class="contenedorDeImagenes">
                <div class="productImage">
                    <img src="/Assets/Freddie-Mercurie.jpeg" alt="Freddie Mercurie"/>
                </div>

                <div class="miniImage">
                    <div class="fredie-mini">
                      <img src="/Assets/Freddie-Mercurie-en-caja.jpeg"/>
                    </div>
                

                    <div class="fredie-caja">    
                      <img src="/Assets/Freddie-Mercurie.jpeg"/>
                    </div>
                </div>
            </div>

            <div class="product-details">
                <h1>Freddie Mercurie</h1>
                <p class="pricie">8.80€</p>


                <div class="actions">
                    <button class="btn-cart">añadir al carrito</button>
                    <div class="quantity-box">
                        <spam class="icon">🛒</spam>
                        <button class="qty-btn">+</button>
                        <span class="qty">1</span>
                        <button class="qty-btn">-</button>
                    </div>
                </div>
                <div class="actions">
                    <button class="gmail"><img src="/Assets/Gmail.png.png"></button>
                </div>
                <div class="incon">
                    <img src="/Assets/Instagram.png.png">
                    <img src="/Assets/facebook.png.png">
                </div>    
                <div class="description">
                    <h2> Descripción</h2>
                    <ul>
                        <li>Libre de productos tóxicos</li>
                        <li>Apto para todas las edades y mascotas</li>
                        <li>Fabricado bajo la directiva europea 2009/48/CE sobre seguridad en los juguetes</li> 
                    </ul>
                </div>
            </div>
        </section>
    </main>


    <footer>

      <div class="socialMedia">
        
        <a href="https://www.facebook.com/" target="_blank" ><img src="/Imágenes/Facebook.png" alt="facebook" /></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/Imágenes/Instagram.png" alt="instagram" /></a>
        
      </div>
      <p>Copyright 2025 ©</p>
        
    </footer>
  </body>
</html>
