<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Agua Patos</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/productos.css" />
    <link rel="shortcut icon" href="/Imágenes/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a class="logo" href="../index.html">
        <img class="navlogo" src="/Imágenes/Logo.png" alt="logo_al_agua_patos" />
      </a>

      <div class="nav-right">
        <a href="../index.html" class="products">Inicio</a>
        <a href="/views/productos.html" class="products">Productos</a>
        <a href="/views/contacto.html" class="contact">Contacto</a>
        <img src="/Imágenes/Line 24.png" class="line" alt="línea de separación" />
        <a href="/views/pago.html" class="shoppingCart">
          <img src="/Imágenes/Carrito.png" alt="carrito_de_compras" />
        </a>
      </div>
    </nav>
   
    <h2>Productos</h2>
<main class="filterProducts">
    <div class="containeFilter">
      <div class="category">
        <p>Categoría</p>
        <ul>
          <li class="filterButtons">Categoría</li>
          <ul>
              <li>Freddie Mercury</li>
              <li>Pato Escarchado</li>
              <li>Pato Ninja</li>
            </ul>
          <li  class="filterButtons">Color</li>
          <ul>
              <li>Negro</li>
              <li>Rosa</li>
              <li>Amarillo</li>
            </ul>
          <li  class="filterButtons">Tamaño</li>
            <ul>
              <li>S</li>
              <li>M</li>
              <li>L</li>
            </ul>
        </ul>
      </div>
    </div>


    <div class="productsContainer">
      <div>
        <img id="img1" src="/Imágenes/pato_0.jpg" alt="Patito de Goma  Freddie Mercury, cantante de la banda Queen">
        <p id="nombre1" >PATO DE GOMA</p>
        <p id="precio1" >8,80€</p>
        <a href="detalles.html"><button>Ver producto</button></a>
      </div>

      <div>
        <img id="img2" src="/Imágenes/pato_1.jpg" alt="Patito de Goma Código binario, estilo Matrix y actitud debugger.">
        <p id="nombre2">PATO DE GOMA CÓDIGO BINARIO</p>
        <p id="precio2">11,57 €</p>
        <button>Ver producto</button>
      </div>

      <div>
        <img id="img3" src="/Imágenes/pato_2.jpg" alt="Pato de Goma Unicornio Glitter. Un toque mágico y brillante.">
        <p id="nombre3">PATO DE GOMA UNICORNIO GLITTER</p>
        <p id="precio3">12,00 €</p>
        <button>Ver producto</button>
      </div>

      <div>
        <img id="img4" src="/Imágenes/pato_3.jpg" alt="Patito de Goma Cyber verde.">
        <p id="nombre4">PATO DE GOMA CYBER VERDE</p>
        <p id="precio4">12,00 €</p>
        <button>Ver producto</button>
      </div>

      <div>
        <img id="img5" src="/Imágenes/pato_4.jpg" alt="Patito de Goma hada rosada.">
        <p id="nombre5">PATO DE GOMA HADA</p>
        <p id="precio5">11,57 €</p>
        <button>Ver producto</button>
      </div>

      <div>
        <img id="img6" src="/Imágenes/pato_5.jpg" alt="Patito de Goma azul con nubes.">
        <p id="nombre6">PATO DE NUBES</p>
        <p id="precio6">12,00 €</p>
        <button>Ver producto</button>
      </div>


    </div>
</main>
    <footer>

      <div class="socialMedia">
        
        <a href="https://www.facebook.com/" target="_blank" ><img src="/Imágenes/Facebook.png" alt="facebook" /></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/Imágenes/Instagram.png" alt="instagram" /></a>
        
      </div>
      <p>Copyright 2025 ©</p>
        
    </footer>
    <script src="../JS/datosdepatos.js"></script>
    
    <script src="../JS/catalogo.js"></script>

  </body>
</html>
