<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Agua Patos</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/productos.css" />
    <link rel="shortcut icon" href="/Imágenes/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
        <nav>
      <div class="navleft">
        <div class="sobrenosotras">Sobre Nosotras</div>
        <a href="productos.html" class="productos">Productos</a>
        <div class="blog">Blog</div>
      </div>
      <div class="navcenter">
        <a class="logo" href="../index.html">
          <img
            class="navlogo"
            src="/Imágenes/Logo.png"
            alt="logo_al_agua_patos"
          />
        </a>
      </div>
      <div class="navright">
        <a href="contacto.html" class="contacto">Contacto</a>
        <div class="linea"><img src="/Imágenes/Line 24.png" alt="linea" /></div>
        <div class="carrito">Carrito</div>
        <div class="carrito">
          <img
            class="navcarrito"
            src="/Imágenes/Carrito.png"
            alt="carrito_de_compras"
          />
        </div>
      </div>
    </nav>
   
    <h2>Productos</h2>
    <div class="contenedorProductos">
      <div>
        <img src="/Imágenes/pato_0.jpg" alt="Patito de Goma  Freddie Mercury, cantante de la banda Queen">
        <p>PATO DE GOMA FREDDIE MERCURY</p>
        <p>8,80 €</p>
        <a href="detalles.html"><button>Ver producto</button></a>
      </div>

      <div>
        <img src="/Imágenes/pato_1.jpg" alt="Patito de Goma Código binario, estilo Matrix y actitud debugger.">
        <p>PATO DE GOMA CÓDIGO BINARIO</p>
        <p>11,57 €</p>
        <button>Ver producto</button>
      </div>

      <div>
        <img src="/Imágenes/pato_2.jpg" alt="Pato de Goma Unicornio Glitter. Un toque mágico y brillante.">
        <p>PATO DE GOMA UNICORNIO GLITTER</p>
        <p>12,00 €</p>
        <button>Ver producto</button>
      </div>

      <div>
        <img src="/Imágenes/pato_3.jpg" alt="Patito de Goma Cyber verde.">
        <p>PATO DE GOMA CYBER VERDE</p>
        <p>12,00 €</p>
        <button>Ver producto</button>
      </div>

      <div>
        <img src="/Imágenes/pato_4.jpg" alt="Patito de Goma hada rosada.">
        <p>PATO DE GOMA HADA</p>
        <p>11,57 €</p>
        <button>Ver producto</button>
      </div>

      <div>
        <img src="/Imágenes/pato_5.jpg" alt="Patito de Goma azul con nubes.">
        <p>PATO DE NUBES</p>
        <p>12,00 €</p>
        <button>Ver producto</button>
      </div>


    </div>

    <footer>
      <div class="boxizquierda">
        <div class="boxlogoup">
          <img
            class="footerlogo"
            src="/Imágenes/Logo.png"
            alt="logo_al_agua_patos"
          />
        </div>
        <div class="redesociales">
          <div class="redes">
            <img src="/Imágenes/Facebook.png" alt="facebook" />
            <img src="/Imágenes/Instagram.png" alt="instagram" />
          </div>
        </div>
      </div>
      <div class="boxderecha">
        <p class="contacto1">Contacto</p>
        <p class="ciudad">Barcelona</p>
        <p class="ciudad">Madrid</p>
        <p class="ciudad">San Sebastian</p>
        <p class="ciudad">Valencia</p>
      </div>
    </footer>

  </body>
</html>
